{% extends 'base.html' %}

{% block meta %}
    <title>Blockbuster</title>
{% endblock meta %}

{% block content %}
<section class="text-center">
    <div class="container pt-5">
        <h1 style="color: #F2BED1">Blockbuster</h1>
        <h3>Movie Database</h3>
        <p class="lead text-muted"> This is a simple movie database where you can add and delete for movies. </p>
        <p>
            {% if user.is_authenticated %}
                <p class="lead text-muted">Username: {{ user.username }}<br/>
                Last Login: {{ request.COOKIES.last_login }}</p>
                <a href="{% url 'main:create' %}" class="btn btn-outline-dark my-2">Create Item</a>
                <a href="{% url 'main:logout' %}" class="btn btn-outline-secondary my-2">Logout</a>
            {% else %}
                <a href="{% url 'main:register' %}" class="btn btn-outline-dark my-2">Register</a>
                <a href="{% url 'main:login' %}" class="btn btn-outline-secondary my-2">Login</a>
            {% endif %}
        </p>
    </div>
</section>
{% if user.is_authenticated %}
    <section>
        <div class="container">
            {% if items %}
                <p class="lead text-muted">Total Item: {{ items|length }}</p>
            {% endif %}
            <div class="row row-cols-3">
                {% for item in items %}
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="card text-white" style="border-radius: 1rem; background-color: #F2BED1;">
                        <img src="{{ item.image.url }}" class="card-img-top" alt="Image" style="border-radius: 1rem 1rem 0 0;">
                        <div class="card-body">
                            <h5 class="card-title" style="color: #B0578D">{{ item.name }}</h5>
                            <p class="card-text">{{ item.description }}</p>
                            <p class="card-text">Amount: {{ item.amount }}</p>
                            <p class="card-text">Price: {{ item.price }}</p>
                            <p class="card-text">Year: {{ item.year }}</p>
                            <p class="card-text">Genre: {{ item.genre }}</p>
                            <p class="card-text">Duration: {{ item.duration }}</p>
                            <p class="card-text" style="color: #EBE76C;"><b>Rating: {{ item.rating }}</b></p>
                            <a href="{% url 'main:add_amount' item.id %}" class="btn btn-outline-dark my-2">Add</a>
                            <a href="{% url 'main:reduce_amount' item.id %}" class="btn btn-outline-secondary my-2">Reduce</a>
                            <a href="{% url 'main:delete_item' item.id %}" class="btn btn-outline-danger my-2">Delete</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}
{% endblock content %}