{% extends 'base.html' %}

{% block meta %}
    <title>Blockbuster</title>
{% endblock meta %}

{% block content %}
<section class="text-center">
    <div class="container pt-5">
        <h1 style="color: #F2BED1">Blockbuster</h1>
        <h3>Movie Database</h3>
        <p class="lead text-muted"> This is a simple movie database where you can add and delete for movies. </p>
        <p>
            {% if user.is_authenticated %}
                <p class="lead text-muted">Username: {{ user.username }}<br/>
                Last Login: {{ request.COOKIES.last_login }}</p>
                <a href="{% url 'main:create' %}" class="btn btn-outline-dark my-2">Create Item</a>
                <a href="{% url 'main:logout' %}" class="btn btn-outline-secondary my-2">Logout</a>
            {% else %}
                <a href="{% url 'main:register' %}" class="btn btn-outline-dark my-2">Register</a>
                <a href="{% url 'main:login' %}" class="btn btn-outline-secondary my-2">Login</a>
            {% endif %}
        </p>
    </div>
</section>
{% if user.is_authenticated %}
    <section id="items"></section>
    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#modalItem" style="position: fixed; bottom: 2rem; right: 2rem; border-radius: 1rem;">Add Movie</button>

    <div class="modal modal-lg fade" id="modalItem" tabindex="-1" aria-labelledby="modalItemLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content text-center text-white" style="border-radius: 1rem; background-color: #F2BED1;">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalItemLabel" style="color: #B0578D;">Add Movie</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="color: #B0578D;"></button>
                </div>
                <div class="modal-body">
                    <form id="createItemForm" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="form-outline form-white mb-4">
                            <label class="form-label" for="name">Name</label>
                        <input type="text" name="name" required id="name" class="form-control form-control-lg" />
                        </div>
        
                        <div class="form-outline form-white mb-4">
                            <label class="form-label" for="amount">Amount</label>
                        <input type="number" name="amount" required id="amount" class="form-control form-control-lg" />
                        </div>
        
                        <div class="form-outline form-white mb-4">
                            <label class="form-label" for="description">Description</label>
                        <textarea name="description" required id="description" class="form-control form-control-lg" rows="4"></textarea>
                        </div>
        
                        <div class="form-outline form-white mb-4">
                            <label class="form-label" for="price">Price</label>
                        <input type="number" name="price" required id="price" class="form-control form-control-lg" />
                        </div>
        
                        <div class="form-outline form-white mb-4">
                            <label class="form-label" for="year">Year</label>
                        <input type="number" name="year" required id="year" class="form-control form-control-lg" />
                        </div>
        
                        <div class="form-outline form-white mb-4">
                            <label class="form-label" for="genre">Genre</label>
                        <input type="text" name="genre" required id="genre" class="form-control form-control-lg" />
                        </div>
        
                        <div class="form-outline form-white mb-4">
                            <label class="form-label" for="duration">Duration</label>
                        <input type="number" name="duration" required id="duration" class="form-control form-control-lg" />
                        </div>
        
                        <div class="form-outline form-white mb-4">
                            <label class="form-label" for="rating">Rating</label>
                        <input type="number" name="rating" required id="rating" class="form-control form-control-lg" step="0.1" />
                        </div>
        
                        <div class="form-outline form-white mb-4">
                            <label class="form-label" for="image">Image</label>
                        <input type="file" name="image" accept="image/*" required id="image" class="form-control form-control-lg" />
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-dark" id="createItem" data-bs-dismiss="modal">Create</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock content %}

{% block script %}
    {% if user.is_authenticated %}
    <script>
        async function getItems() {
            return fetch("{% url 'main:get_item_json' %}")
                .then(response => response.json())
        }

        async function refreshItems() {
            document.getElementById("items").innerHTML = ""
            const items = await getItems()
            const length = Object.keys(items).length
            let html = '<div class="container">'
            html += '<p class="lead text-muted">Total Item: ' + length + '</p>'
            html += '<div class="row row-cols-3">';
            items.forEach((item) => {
                html += '<div class="col-md-6 col-lg-4 mb-5">'
                html += '<div class="card text-white" style="border-radius: 1rem; background-color: #F2BED1;">'
                html += '<img src="/media/' + item.fields.image + '" class="card-img-top" alt="Image" style="border-radius: 1rem 1rem 0 0;">'
                html += '<div class="card-body">'
                html += '<h5 class="card-title" style="color: #B0578D">' + item.fields.name + '</h5>'
                html += '<p class="card-text">' + item.fields.description + '</p>'
                html += '<p class="card-text">Amount: ' + item.fields.amount + '</p>'
                html += '<p class="card-text">Price: ' + item.fields.price + '</p>'
                html += '<p class="card-text">Year: ' + item.fields.year + '</p>'
                html += '<p class="card-text">Genre: ' + item.fields.genre + '</p>'
                html += '<p class="card-text">Duration: ' + item.fields.duration + '</p>'
                html += '<p class="card-text" style="color: #EBE76C;"><b>Rating: ' + item.fields.rating + '</b></p>'
                html += '<a href="/item/add/' + item.pk + '" class="btn btn-outline-dark mx-2">Add</a>'
                html += '<a href="/item/reduce/' + item.pk + '" class="btn btn-outline-secondary mx-2">Reduce</a>'
                html += '<button type="button" class="btn btn-outline-danger mx-2" onclick="deleteItem(' + item.pk + ')">Delete</button>'
                html += '</div>'
                html += '</div>'
                html += '</div>'
            })
            html += '</div>'
            html += '</div>'
            document.getElementById("items").innerHTML = html
        }

        refreshItems();
        
        function createItem() {
            fetch("{% url 'main:create_ajax' %}", {
                method: "POST",
                body: new FormData(document.getElementById("createItemForm"))
            }).then(() => {
                refreshItems()
            })

            document.getElementById("createItemForm").reset()
            return false
        }

        document.getElementById("createItem").onclick = createItem

        function deleteItem(id) {
            fetch("{% url 'main:delete_ajax' 0 %}".replace("0", id), {
                method: "DELETE",
            }).then(() => {
                refreshItems()
            })

            return false
        }

    </script>
    {% endif %}
{% endblock script %}